<% content_for :page_title do %>
  <%= Spree.t(:insights) %>
<% end %>

<% content_for :header do %>
  <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
<% end %>

<% if @reports.present? %>
  <table class="table admin-insights" id="admin-insights" data-hook>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @reports.each do |report_name| %>
        <tr>
          <td><%= Spree.t(:title, scope: [:reports, report_name]) %></td>
          <td><%= Spree.t(:description, scope: [:reports, report_name]) %></td>
          <td><%= link_to 'Show', admin_insight_path(report_name) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: Spree.t(:insights)) %>,
  </div>
<% end %>
