<% content_for :page_title do %>
  <%= Spree.t(:heading, type: params[:type].to_s.titleize, scope: :insights) %>
<% end %>

<%= select_tag :reports, options_for_select(@reports.map { |report_name| [report_name.to_s.humanize, report_name, data: { url: admin_insight_url(report_name, type: params[:type]) }] }), include_blank: 'Select a report', class: 'select2' %>

<div id='search-div' class='hide'>
  <div class="filter-wrap row">
    <div class="col-sm-12">
      <div class="input-group index-filter-button">
        <span class="input-group-btn">
          <button class="btn btn-default js-show-index-filters" type="button">
            <span class="icon icon-chevron-right"></span>
            <%= Spree.t(:filter) %>
          </button>
        </span>
        <%= form_tag form_action(@report_name, params[:type]), id: "quick-search" do %>
          <%= text_field_tag :quick_search, nil, class: "form-control js-quick-search", placeholder: Spree.t(:quick_search) %>
        <% end %>
      </div>
      <div id="table-filter" data-hook class="well filter-well">
      </div>
    </div>
  </div>

<div class="table-active-filters js-filters"></div>
</div>

<div id='report-div'>
</div>

<div id='paginator-div'>
</div>

<script type="text/x-tmpl" id="tmpl">
  <table class="table admin-insight tablesorter" id="admin-insight">
    <thead>
      <tr>
        {% for(var i = 0; i < o['headers'].length; i++) { %}
          <th>{%= o['headers'][i].name %}</th>
        {% } %}
      </tr>
    </thead>
    <tbody>
      {% for(var i = 0; i < o['stats'].length; i++) { %}
        <tr>
          {% for(var j = 0; j < o['headers'].length; j++) { %}
            <td>{%= o['stats'][i][o['headers'][j].value] %}</td>
          {% } %}
        </tr>
      {% } %}
    </tbody>
  </table>

</script>

<script type="text/x-tmpl" id="paginator-tmpl">
  {% if(o['total_pages'] > 0) { %}
    {% for(var i = 0; i <= o['total_pages']; i++) { %}
      <a href="{%= o['url'] %}&page={%= i %}" class="pagination-link">{%= i+1 %}</a>
    {% } %}
  {% } %}
</script>

<script type="text/x-tmpl" id="search-tmpl">
  <div data-hook="admin_insights_sidebar">
    <form id="filter-search" action="{%= o['url'] %}" accept-charset="UTF-8" method="get">
      <div class="quick_search_form">
      </div>

      {% if(o['search_attributes']['name']) { %}
        <div class="row">
          <div class="col col-md-6">
            <div data-hook="admin_property_index_search" class="form-group">
              <label for="search_name">{%= o['search_attributes']['name'] %}</label>
              <input type="text" name="search[name]" id="search_name" class="form-control js-quick-search-target js-filterable" placeholder="Name">
            </div>
          </div>
        </div>
      {% } %}

      {% if(o['search_attributes']['email_cont']) { %}
        <div class="row">
          <div class="col col-md-6">
            <div data-hook="admin_property_index_search" class="form-group">
              <label for="search_email_cont">{%= o['search_attributes']['email_cont'] %}</label>
              <input type="text" name="search[email_cont]" id="search_email_cont" class="form-control js-quick-search-target js-filterable" placeholder="Email">
            </div>
          </div>
        </div>
      {% } %}

      <div class="row">
        <div class="date-range-filter col-md-8">
          <div class="form-group">
            <div class="row no-padding-bottom">
              <div class="col-md-6">
                <label for="search_start_date">{%= o['search_attributes']['start_date'] %}</label>
                <div class="input-group">
                  <input type="text" name="search[start_date]" id="search_start_date" class="datepicker datepicker-from form-control js-filterable" placeholder="Start">
                  <span class="input-group-addon">
                    <i class="icon icon-calendar"></i>
                  </span>
                </div>

              </div>
              <div class="col-md-6">
                <label for="search_end_date">{%= o['search_attributes']['end_date'] %}</label>
                <div class="input-group">
                  <input type="text" name="search[end_date]" id="search_end_date" class="datepicker datepicker-to form-control js-filterable" placeholder="Stop">
                  <span class="input-group-addon">
                    <i class="icon icon-calendar"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="form-actions" data-hook="admin_insights_index_search_buttons">
        <button name="button" type="submit" class="btn btn-primary "><span class="icon icon-search"></span> Search</button>
      </div>

    </form>
  </div>
</script>
