<% content_for :page_title do %>
  <%= Spree.t(@report_name) %>
<% end %>

<% content_for :page_actions do %>
  <%= link_to_with_icon 'arrow-left', Spree.t(:back_to_resource_list, resource: params[:type].to_s.titleize), admin_insights_url(type: params[:type]), class: 'btn btn-default' %>
<% end %>

<% content_for :table_filter do %>
  <% if lookup_context.exists?((@report_name.to_s + '_search'), ['spree/admin/insights/search'], true) %>
    <%= render partial: ('spree/admin/insights/search/' + @report_name.to_s + '_search') %>
  <% end %>
<% end %>

<table class="table admin-insight tablesorter" id="admin-insight" data-hook>
  <thead>
    <tr>
      <% @headers.each do |_header_| %>
        <th><%= Spree.t(_header_, scope: [:reports, @report_name], default: _header_) %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @stats.each do |stat| %>
      <tr>
        <% @headers.each do |_header_| %>
          <td><%= stat[_header_] %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
