<% content_for :page_title do %>
  <%= Spree.t(@report_name) %>
<% end %>

<% content_for :page_actions do %>
  <%= link_to_with_icon 'arrow-left', Spree.t(:back_to_resource_list, resource: Spree.t(:report)), admin_insights_url, class: 'btn btn-default' %>
<% end %>

<% content_for :table_filter do %>
  <%= render partial: (@report_name.to_s + '_search') %>
<% end %>

<table class="table admin-insight" id="admin-insight" data-hook>
  <thead>
    <tr>
      <% @headers.each do |_header_| %>
        <th><%= Spree.t(_header_, scope: [:reports, @report_name]) %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @stats.each do |stat| %>
      <tr>
        <% @headers.each do |_header_| %>
          <td><%= stat.public_send(_header_) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
